.taskCard {
    width: 300px;
    margin: 5px 0;
}

.example-card-footer {
    padding: 16px;
}

.custom-card-header .header-content,
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .description {
    width: 80%;
}

.custom-card-header .header-content {
    width: 100%;
}

.custom-card-header .header-content mat-card-title {
    margin-right: 16px;
}

.custom-card-header .header-content mat-card-subtitle {
    font-size: 14px;
    color: gray;
}

mat-expansion-panel mat-action-row {
    justify-content: center;
    padding: 0;
}

.actionRow mat-expansion-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.actionRow mat-icon {
    cursor: pointer;
}

@media screen and (min-width: 350px) {
    .taskCard {
        width: 350px;
    }
    
}

@media screen and (min-width: 375px) {
    .taskCard {
        width: 375px;
    }
    
}

@media screen and (min-width: 400px) {
    .taskCard {
        width: 400px;
    }
    
}