<mat-card class="example-card" appearance="outlined">
    <mat-card-header class="custom-card-header">
        <div class="header-content">
          <mat-card-title>{{task.title}}</mat-card-title>
          <mat-card-subtitle>{{task.dueDate | date: 'shortDate'}}</mat-card-subtitle>
        </div>
      </mat-card-header>
    <mat-card-content class="content">
      <p class="description">{{task.description}}</p>
      <button mat-icon-button>
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>