.spacer {
    flex: 1 1 auto;
}

@media screen and (max-width: 600px){
    #jumbotron {
        font-size: medium;
    }
}
@media screen and (max-width: 350px){
    #jumbotron {
        font-size: small;
    }
}