<mat-toolbar>
    <span *ngIf="includeJumbotron" id="jumbotron">{{jumbotronText}}</span>
    <span class="spacer"></span>
    <div *ngFor="let button of buttons">
        <button *ngIf="button.functionalityType === 'Button'" (click)="button.function !== undefined ? button.function() : null" mat-icon-button>
            <mat-icon *ngIf="button.contentType === 'Icon'">{{button.content}}</mat-icon>
            <span *ngIf="button.contentType === 'Text'">{{button.content}}</span>
        </button>
        <a *ngIf="button.functionalityType === 'Link' && button.contentType === 'Icon'" [routerLink]="button.link" mat-icon-button>
            <mat-icon>{{button.content}}</mat-icon>
        </a>
        <a *ngIf="button.functionalityType === 'Link' && button.contentType === 'Text'" [routerLink]="button.link">
            <span>{{button.content}}</span>
        </a>
    </div>
</mat-toolbar>