.example-form {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

#submitButton {
    margin: 10px auto;
    width: 50%;
    height: 50px;
    // TODO: Add a background color to the button based on theme
}

.example-card {
    max-width: 425px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}